

body {
    background-color: #e7c8ff;
    margin: 0;
    
}

main{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0;
    height:80vh;
}

footer{
    
    background-color: #662a4b;
    position: absolute;
    height: 10vh;
    width: 90vw;
    bottom:0;
    
    padding-left: 5vw;
    padding-right: 5vw;

    display:inline-block;
    

}


footer nav{
    
    width:70vw;
    height: 10vh;
    display: flex;
    align-items: center;
    
}

footer nav .button{ 

    /*aspect-ratio: 1/1;*/

    width: 7.5vh;
    height: 7.5vh;
    
    
    /*background-color: antiquewhite;*/
    background-image: url("../imgs/heart_icon.png");
    background-size: cover; 
    background-position: center center;
    
    
}

footer #logo{
    width: 20vw; 
    height: auto;
    bottom:1.25vh;
    position:absolute;
    left:75vw;
    
    
}

