body {
    background-color: #39134b;
    padding: 0%;
    margin: 0;
    height: 100vh;
}

header {
    height: 25vh;
    position: relative;
    padding: 0%;
    

}

header nav {
    
    font-family: 'Chicle';
    position: relative;
    
    font-size:calc(12px + 2.25vw);
    width: 100%;
    
}


header a {
    position: relative;
    width: auto;
    margin: 3%;
    

    text-decoration: none;
    font-size:1em;
    
    color: #F7AAAA;
    -webkit-text-stroke: .25em #39134b;
    text-shadow: none;
    paint-order: stroke fill;
    font-family: 'Chicle';
}


header nav .nav-container{
    position:absolute;
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: center;
    height: auto;
    transform-origin: center;

    margin-top:3vh;
}



header nav #nav-left{
    width:10%;
    height:10vh;
    min-width: 15vw;
    /*transform:  rotate(-15deg) translate(0, 0) ;*/
    
    min-width: 10vw;
    
}

header nav #nav-left > a{
    
    width: 100%;
    transform-origin: center;
    /*transform:translate(50%, 0vh) rotate(15deg) ;*/
    
}

header nav #nav-left .rect {
    background-color: #6F3C6A;
    position: absolute;
    width: 100%;
    
    top:37.5%;
    transform-origin: center;
    z-index: -1;
    height: 20%;
    
}


header nav #nav-right{
    
    transform: translate(100%, -1vh) rotate(10deg);
    margin-left: 5%; 
    
}

header nav #nav-right > a{
    
    transform-origin: center;
    transform:rotate(-10deg);
    
}



header nav #nav-right .rect {
    background-color: #6F3C6A;
    position: absolute;
    width: 100%;
    top:37.5%;
    transform-origin: center;
    z-index: -1;
    height: 20%;
    
}



@font-face {
    font-family: "Chicle";
    src: url("../fonts/Chicle-Regular.ttf") format("truetype");
}