body {
    background-color: #e7c8ff;
    margin: 0;
}

main {
    padding: 2.5vh 5vw 5vh 5vw;
    /* height: 90vh; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.container {
    display: flex;
    justify-content: space-between;
}

.first-col {
    flex-basis: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.second-col {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-col-item {
    flex-basis: 48%;
}

.second-col-item.container {
    margin-top: 10px;
}

h1 {
    margin: 0;
    width: 50%;
    height: min-content;
}

#title-image {
    width: 100%;
    display: block;
    position: relative;
    bottom: -16px;
    z-index: 10;
}

.window {
    border: 4px solid #331222;
    background-color: white;
    display: block;
    border-radius: 8px;
    filter: drop-shadow(-4px 4px 0px #331222);
    position: relative;
}

.window h2 {
    position: relative;
    margin: 0;
    padding: 6px;
    padding-left: 1.75em;
    font-family: headFont;
    font-size: 1.5em;
    line-height: 1.3em;
    border-bottom: 4px solid #331222;
}

.window h2::before {
    display: inline-block;
    position: absolute;
    background-image: url(../imgs/icons/home.svg);
    background-size: 100% 100%;
    height: 1.3em;
    aspect-ratio: 1/1;
    width: auto;
    content: "";
    left: 6px;
}

.window span.highlight {
    color: #E0407D;
}

.window.dark-purple h2 {
    color: white;
    background-color: #662A4B;
}

.window.light-purple h2 {
    color: #331222;
    background-color: #F6C0F3;
}

.window h3 {
    font-family: headFont;
    color: #331222;
    font-size: 1.2em;
    padding: 0 6px;
    margin: 6px 0;
}

.window p {
    font-family: bodyFont;
    color: #331222;
    margin: 3px 6px 6px;
    width: 100%;
}

.window#intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.window#intro div {
    display: flex;
    flex-grow: 1;
}

.window#intro div .img-container {
    width: 100%;
    height: auto;
    display: block;
    align-self: flex-end;
}

.window#intro div .img-container img {
    width: 100%;
    display: block;
}

footer {
    background-color: #662a4b;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom:0;
}


footer nav {
    height: 10vh;
    margin: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

#menubuttons {
    display: flex;
    gap: 10px;
}

#menubuttons .button { 
    width: 7.5vh;
    height: 7.5vh;
    background-size: cover; 
    background-position: center center;
}

footer nav .button.homebutton {
    background-image: url("../imgs/icons/home.svg");
}

footer nav .button.aboutbutton {
    background-image: url("../imgs/icons/about.svg");
}

footer nav .button.workbutton {
    background-image: url("../imgs/icons/work.svg");
}

footer #logo {
    align-self: flex-end;
    width: 10%; 
    height: auto;
    filter: drop-shadow(-8px 8px 0px #331222);
    border: 5px #331222;
    position:relative;
    bottom:1.25vh;
}

@font-face {
    font-family: headFont;
    src: url(../fonts/MadimiOne-Regular.ttf);
}
@font-face {
    font-family: bodyFont;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}
