body {
    background-color: #e7c8ff;
    margin: 0;
}

main {
    padding: 2.5vh 5vw 5vh 5vw;
    height: 82.5vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    z-index: 0;
}

.hide {
    display:none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.first-col {
    flex-basis: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.second-col {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-col-item {
    flex-basis: 48%;
}

.second-col-item.container {
    margin-top: 10px;
}

h1 {
    margin: 0;
    width: 50%;
    height: min-content;
}

#title-image {
    width: 100%;
    display: block;
    position: relative;
    bottom: -16px;
    z-index: 1;
}

.window {
    border: 4px solid #331222;
    background-color: white;
    display: block;
    border-radius: 8px;
    filter: drop-shadow(-4px 4px 0px #331222);
    position: relative;
}

.window h2 {
    position: relative;
    margin: 0;
    padding: 6px;
    padding-left: 1.75em;
    font-family: headFont;
    font-size: 1.5em;
    line-height: 1.3em;
    border-bottom: 4px solid #331222;
}

.window h2::before {
    display: inline-block;
    position: absolute;
    background-image: url(../imgs/icons/home.svg);
    background-size: 100% 100%;
    height: 1.3em;
    aspect-ratio: 1/1;
    width: auto;
    content: "";
    left: 6px;
}

span.highlight {
    color: #E0407D;
}

.window.dark-purple h2 {
    color: white;
    background-color: #662A4B;
}

.window.light-purple h2 {
    color: #331222;
    background-color: #F6C0F3;
}

.window h3 {
    font-family: headFont;
    color: #331222;
    font-size: 1.2em;
    padding: 0 6px;
    margin: 6px 0;
}

.window p {
    font-family: bodyFont;
    color: #331222;
    margin: 3px 6px 6px;
}

.window#intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.window#intro div {
    display: flex;
    flex-grow: 1;
}

.window#intro div p {
    flex-basis: 50%;
    flex-shrink: 0;
}

.window#intro div .img-container {
    flex-basis: 50%;
    flex-grow: 0;
    height: auto;
    display: block;
    align-self: flex-end;
}

.window#intro div .img-container img {
    width: 100%;
    display: block;
}

footer {
    background-color: #662a4b;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom:0;
    z-index: 1;
}


footer nav {
    height: 10vh;
    margin: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

#menubuttons {
    display: flex;
    gap: 10px;
}

#menubuttons .button { 
    width: 7.5vh;
    height: 7.5vh;
    display: block;
    background-size: cover; 
    background-position: center center;
}

footer nav .button.homebutton {
    background-image: url("../imgs/icons/home.svg");
}

footer nav .button.workbutton {
    background-image: url("../imgs/icons/work.svg");
    position: relative;
    left: 7.5vh;
}

.icon {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    height: 1.2em;
    aspect-ratio: 1/1;
    vertical-align: top;
    margin-right: 5px;
}

.linkedin-icon {
    background-image: url("../imgs/icons/linkedin-brands-solid.svg");
}

.phone-icon {
    background-image: url("../imgs/icons/phone-solid.svg");
}

.envelope-icon {
    background-image: url("../imgs/icons/envelope-solid.svg");
}

#contact-container {
    position: absolute;

    display: grid;
    grid-template-columns: 7.5vh auto;
    justify-content: end;
}

footer nav .button.aboutbutton {
    background-image: url("../imgs/icons/about.svg");

    -webkit-appearance: none;
    appearance: none;
    background-color: #662a4b;
    margin: 0;
    cursor: pointer;
}

#contactpopup {
    position: absolute;
    bottom: 100%;
    width: 600%;
    padding-bottom: 20px;
}

#contactpopup:hover {
    display: block;
}

#work:checked + #contactpopup,
#work:hover + #contactpopup {
    display: block;
}

#contactpopup .contactimg img {
    display: block;
    filter: drop-shadow(-4px 4px 0px #331222);
    width: 100%;
}

#contactpopup .contactdata {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contactpopup .contactdata p:first-child {
    margin-top: 0;
}

#contactpopup .contactdata p:last-child {
    padding-bottom: 30px;
}

#contactpopup .contactdata p {
    font-family: bodyFont;
    color: #331222;
    font-size: 1.2em;
    margin: 10px 0;
}

#contactpopup .contactdata a {
    color: #331222;
    display: inline-block;
}

#contactpopup .contactdata a:hover {
    color: #E0407D;
}

footer #logo {
    align-self: flex-end;
    width: 20vh; 
    height: auto;
    filter: drop-shadow(-8px 8px 0px #331222);
    border: 5px #331222;
    position:relative;
    bottom:1.25vh;
}

@font-face {
    font-family: headFont;
    src: url(../fonts/MadimiOne-Regular.ttf);
}
@font-face {
    font-family: bodyFont;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@media screen and (max-width:1023px){
    main {
        display: block;
        height: initial;
        padding-bottom: 15vh;
    }

    .first-col {
        margin: 0;
    }

    .second-col {
        display: block;
    }

    .second-col-item {
        display: block;
    }

    .second-col-item.container {
        display: block;
    }

    .window {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px){
    .window#intro {
        display: block;
    }

    .window#intro div {
        display: block;
    }
}
